/* Structure */
body {
    background: violet;
    font-family:Arial, Helvetica, sans-serif;
}

#content {
    background: whitesmoke;
    padding: 5px;
    margin: 10px auto;
    width: 50%;
}

/* Navigation */
#main-nav ul {
    padding-left:0; /*removes left padding */
}

#main-nav li {
    list-style-type: none; /*no bullets */
    display:inline-block; /* appear on one line */
}

#main-nav a {
    text-decoration: none; /* no underline */
    background:  #299fad;
    color: #efeeee;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover {
    background: #207893; /* change color on hover */
}

/* Typography */
h1 {
    color: red;
}

p {
    color: blue;
}